{% extends 'base.html' %}

{% block titulo %}Cadastro{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        
    {% else %}
        <div class="row mt-4 justify-content-center">
            <div class="card shadow-sm" style="background-color: antiquewhite; width: 50rem;">
                <div class="card-body rounded" style="background-color: gray;">
                    <h1 class="card-title border-bottom pb-2 bg-primary rounded fw-bold" style="color: black; text-align: center;">Login</h1>
                </div>
                <div class="bg-white p-3 rouded border" style="min-height: 100px; white-space: pre-wrap;">
                
                    <form action="" method="post" class="row p-4 rounded border shadow">
                        <!-- token de segurança -->
                        {{ form.csrf_token }}

                        <!-- email ou nome -->
                        {{ login_form.email.label() }}
                        {{ login_form.email(class="form-control") }}
                        
                        <!-- senha -->
                        {{ login_form.senha.label() }}
                        {{ login_form.senha(class="form-control") }}

                        <!-- botao submit -->
                        {{ login_form.btnSubmit(class="btn btn-primary mt-4") }}
                        
                    </form>
                
                    <!-- modal Cadastro -->
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end align-items-center gap-2">
                            <span class="fs-5">Não tem cadastro? </span>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastro">Cadastrar</button>
                        </div>
                        <div class="modal fade" id="cadastro" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content shadow">
                                    <div class="modal-header bg-info">
                                        <h5 class="modal-title">Cadastrar...</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    
                                    <div class="modal-body" style="color: black;">
                                        <form action="" method="post" class="row p-4 rounded border shadow">
                                            <!-- token de segurança -->
                                            {{ form.csrf_token }}

                                            <!-- Nome -->
                                            {{ form.nome.label() }}
                                            {{ form.nome(class="form-control") }}
                                            
                                            <!-- sobrenome -->
                                            {{ form.sobrenome.label() }}
                                            {{ form.sobrenome(class="form-control") }}

                                            <!-- email -->
                                            {{ form.email.label() }}
                                            {{ form.email(class="form-control") }}
                                        
                                            <!-- senha -->
                                            {{ form.senha.label() }}
                                            {{ form.senha(class="form-control") }}

                                            <!-- confirmar senha -->
                                            {{ form.confirmacao_senha.label() }}
                                            {{ form.confirmacao_senha(class="form-control") }}

                                            <!-- botao submit -->
                                            {{ form.btnSubmit(class="btn btn-primary mt-4") }}

                                        </form>
                                    </div>

                                    <div class="modal-footer bg-secondary">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}