{% extends 'base.html' %}

{% block titulo %}Status {% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 mt-4">
            <h1 style="text-align: center;">Status</h1>
        </div>
    </div>

    {% include 'rotas.html' %}
    <div class="row">
        <form action="" method="get" class="row">
            <div class="col-9">
                <input type="text" name="busca" id="" class="form-control" placeholder="Pesquise aqui..."> 
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </form>
        <div class="col-12 mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Status</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for linha in context['dados'] %}
                    <tr>
                        <td>{{ linha.nome }}</td>
                        <td>{{ linha.status }}</td>
                        <td>{{ linha.data_envio.strftime('%d/%m/%Y') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}